* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  overflow: hidden;
}

h1,
h2,
h3 {
  font-weight: lighter;
}

p {
  color: rgb(222, 222, 222);
}

b {
  color: white;
}
.fixed-navbar {
  padding: 12px 0px 12px 0px;
  left: 3vw;
  right: 3vw;
  background-color: rgba(0, 0, 0, 0);
}

.navbar-nav > li,
.navbar-brand {
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1.25rem;
}
.no-decor {
  text-decoration: none;
  padding: 0 !important;
}
.navbar-brand {
  font-size: 1.5rem;
}

.fixed-container {
  padding: 12px 0px 12px 0px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.simple-parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parallax {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  perspective: 1px;
  perspective-origin: center;
}
.parallax__layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform-origin: bottom;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.parallax__layer_forest_1 {
  z-index: -1;
  background-image: url("../images/forest-l1.png");
}

.parallax__layer_forest_2 {
  z-index: -2;
  background-image: url("../images/forest-l2.png");
}

.parallax__layer_bridge {
  z-index: -3;
  background-image: url("../images/bridge.png");
}

.parallax__layer_mountain_1 {
  z-index: -4;
  background-image: url("../images/mountain-l1.png");
}

.parallax__layer_mountain_2 {
  z-index: -5;
  background-image: url("../images/mountain-l2.png");
}

.parallax__layer_mountain_3 {
  z-index: -6;
  background-image: url("../images/mountain-l3.png");
}

.parallax__layer_sky {
  z-index: -7;
  background-image: url("../images/sky-background.png");
}

/* .parralax-background {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;

} */

.big-image {
  z-index: -1;
  /* background-image: url('../images/main-background-t1.jpg'); */
}

#overllay_container {
  position: relative;
}
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.96),
    rgba(0, 0, 0, 0.2)
  );
  z-index: 0;
}

.black-overlay {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.img {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.blue-overlay {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.25s;
  z-index: 1;
}
.blue-overlay {
  background: linear-gradient(rgba(4, 41, 66, 0.3), rgba(4, 41, 66, 0.3));
  font-size: 24px;
}

.full-screen {
  height: 100vh;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.subtext {
  text-align: center;
  max-width: 950px;
  color: white;
}

.nudge-up {
  margin-bottom: 3rem;
}
.white-color {
  color: white;
}
.center-text-line {
  z-index: 0;
  width: 100%;
}
.big-text {
  font-size: 3rem;
  margin-bottom: 0.6rem;
}

.light-text {
  font-weight: lighter;
}

.norm-text {
  font-weight: normal;
}

.semibig-text {
  font-size: 2.5rem;
}
.medium-text {
  font-size: 1.5rem;
}
.normal-text {
  font-size: 1.25rem;
  /* opacity: 0.9; */
}
.small-text {
  font-size: 0.8rem;
  /* opacity: 0.9;     */
}
.down-arrow {
  padding: 12px 16px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 1);
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  bottom: 10px;
  text-align: center;
  z-index: 1;
}

.down-arrow:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}
#main {
  height: 3000px;
}

.divider {
  width: 100%;
  /* padding: 2px 0 2px 0; */
  /* margin: -2px 0 -2px 0; */
  height: 20vh;
  background: linear-gradient(
    rgb(0, 15, 22),
    rgb(11, 25, 44) 90%,
    rgb(11, 25, 44)
  );
  /* background:linear-gradient(rgb(0,15,22), rgb(11,25,44) 90%, rgb(11,25,44)) */

  /* background:linear-gradient( #0B192C , rgb(0,15,22),  #0B192C 20px, rgb(0,15,22) 20px) */
  /* background: repeating-linear-gradient( rgb(0,15,22), rgb(0,15,22) 20px,  #0B192C 60px ,  #0B192C 40px) */
}

.divider-reversed {
  width: 100%;
  padding: 2px 0 2px 0;
  margin: -2px 0 -2px 0;
  height: 20vh;
  /* background:rgb(11,25,44); */

  background: linear-gradient(rgb(11, 25, 44), rgb(0, 15, 22));
}
#about {
  overflow: auto;
  width: 100%;
  background-color: rgb(11, 25, 44);

  /* background-color: rgb(193, 225, 240); */
  /* background: linear-gradient( rgb(0,15,22, 1), rgb(0,15,22, 0.5) 100%);   */
}

.sumarize-box {
  height: 300px;
  width: 600px;

  background-color: rgb(8, 75, 109);
}

#experience {
  width: 100%;
  overflow: auto;
  /* padding-bottom: 10vh; */
  background-color: rgb(0, 15, 22);
  /* background-color: rgb(11, 25, 44); */

  /* color: wwhite; */
}
#resume-pad {
  background-color: rgb(0, 15, 22);
  padding-bottom: 10vh;
}

#contact {
  overflow: hidden;
  width: 100%;
  height: 48vh;
  /* background-color: rgb(0, 0, 0); */

  background-color: rgb(11, 25, 44);
  /* background-color: rgb(0,15,22); */
}

#project {
  overflow: hidden;
  width: 100%;
  padding-bottom: 10vh;
  background-color: rgb(0, 15, 22);
  /* background-color: rgb(11, 25, 44); */
}
.black-bg {
  background-color: rgb(25, 38, 46) !important;
  z-index: 2;
}

.custom-card {
  overflow: auto;
  height: 1%;
  background-color: rgb(7, 15, 26, 0);
  border: none;
}

.simple-col {
  background-color: rgb(7, 15, 26);
}

.fas {
  color: white;
}
.left-align {
  text-align: start;
}
.right-align {
  text-align: end;
}
h1::selection {
  background-color: rgb(255, 166, 1);
}
h2::selection {
  background-color: rgb(255, 166, 1);
}
h3::selection {
  background-color: rgb(255, 166, 1);
}

p::selection {
  background-color: rgb(255, 166, 1);
}

b::selection {
  background-color: rgb(255, 166, 1);
}

div::selection {
  background-color: rgb(255, 166, 1);
}

.test {
  border-color: rgb(255, 255, 255);
}

.tdt-logo {
  width: 350px;
  margin-bottom: 64px;
}

.icon-logo {
  width: 100%;
}
.icon {
  object-fit: contain; /* Ensures the aspect ratio is maintained */
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: filter 0.3s;
  /* -webkit-filter 0.3s */
}

.icon:hover {
  -webkit-filter: none; /* Safari 6.0 - 9.0 */
  filter: none;
}

.img-responsive {
  display: block;
  max-width: 100%;
}

.test-bg {
  height: 912px;
  background-image: url("/assets/images/aurora.png");
  backdrop-filter: grayscale(0.5) opacity(0.1);
}

.test-gradient {
  position: relative;
  bottom: 0;
  height: 20vh;
  z-index: 1;
  background: linear-gradient(rgba(0, 15, 22, 0), rgba(0, 15, 22, 1));
}

.small-top-gradient {
  position: relative;
  top: 0;
  height: 32vh;
  z-index: 1;
  background: linear-gradient(rgba(0, 15, 22, 1), rgba(0, 15, 22, 0));
}

.small-bottom-gradient {
  position: relative;
  top: 100%;
  transform: translateY(-199%);
  height: 32vh;
  z-index: 1;
  background: linear-gradient(rgba(0, 15, 22, 0), rgba(0, 15, 22, 1));
}

.white-horizontal {
  background-color: white;
  height: 2px;
}

.gray-overlay {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
  background-color: #000;
}

.sumary-icon,
.sumary-text {
  transition: color 0.3s ease; /* Smooth transition */
}

.hovered .sumary-icon,
.hovered .sumary-text {
  color: #ff5733; /* Change to your desired hover color */
}

.sumary-box {
  position: relative;
}
.cover-card {
  border-radius: 10px;
  border: #454545;
  border-width: 2px;
  border-style: groove;
  position: absolute;
  width: 99%;
  height: 350px;
  margin-left: -10px;
  background-color: rgba(11, 25, 44, 1); /* Semi-transparent black */
  z-index: 10; /* Ensure it's on top */
}

.cover-card h2 {
  font-size: 4rem;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.2);
  font-weight: lighter;
}

#contact {
  position: relative;
  /* height: 100vh;  */
  /* overflow: hidden; */
}

.unusual-carousel {
  background-color: rgb(0, 15, 22);
  position: relative;
  height: 100%;
  overflow: hidden;
}

/* .img-cover {
    background-color: rgb(0,15,22);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1; 
    transform-origin: left center;
}

.img-cover img {
    background: url("../images/test1.png");
    background-color: rgb(0,15,22);
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */

.img-cover {
  background-color: rgb(0, 15, 22);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  z-index: 1;
  transform-origin: left center;
  overflow: hidden;
}

#img1 {
  z-index: 5;
  background-image: url("../images/purple.jpg");
}
#img2 {
  z-index: 4;
  background-image: url("../images/yellow.jpg");
}
#img3 {
  z-index: 3;
  background-image: url("../images/green.jpg");
}
#img4 {
  z-index: 2;
  background-image: url("../images/red.jpg");
}
#img5 {
  z-index: 1;
  background-image: url("../images/indigo.png");
}

#contact-button {
  margin-left: auto;
  margin-right: auto;
  transform-origin: center;
  z-index: 10;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border: white;
  border-width: 4px;
  border-style: solid;
}

#contact-button:hover {
  color: rgb(255, 255, 255);

  background-color: rgba(253, 253, 253, 0.4);
}
.contact-box {
  display: flex;
  flex-direction: column;
  z-index: 6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: lighter;
  width: 100%;
  color: white;
  padding: 24px;
}

.project-card {
  width: 100%;
  background-color: #090909;
}

.project-card-body {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #090909;
  width: 100%;
  height: 4rem;
  transform: translateY(-1px);
  overflow: hidden;
  position: relative;
}

.card-img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.project-stat {
  text-align: center;
}

.project-title {
  text-align: left;
  font-weight: normal;
}

.project-button {
  opacity: 0;
  position: absolute;
  bottom: 16px;
  right: 16px;
  transform-origin: center;
  z-index: 10;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border: white;
  border-width: 4px;
  border-style: solid;
}

.project-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(253, 253, 253, 0.4);
}

#card-img-1 {
  width: 100%;
  height: 50vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1) 70%,
      #090909 100%
    ),
    url("../images/projects/musicVisualizer/cover.png");
  background-position: center;
  background-size: cover;
}

#card-img-2 {
  width: 100%;
  height: 50vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1) 70%,
      #090909 100%
    ),
    url("../images/projects/figma/cashFlow.png");
  background-position: center;
  background-size: cover;
}

#card-img-3 {
  width: 100%;
  height: 50vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1) 70%,
      #090909 100%
    ),
    url("../images/projects/yuuki/main.png");
  background-position: center;
  background-size: cover;
}

#card-img-4 {
  width: 100%;
  height: 50vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1) 70%,
      #090909 100%
    ),
    url("../images/projects/eCommerce/springboot.png");
  background-position: center;
  background-size: cover;
}
#card-img-5 {
  width: 100%;
  height: 50vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1) 70%,
      #090909 100%
    ),
    url("../images/projects/jobBox/main.png");
  background-position: center;
  background-size: cover;
}

#card-img-6 {
  width: 100%;
  height: 50vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1) 70%,
      #090909 100%
    ),
    url("../images/projects/FreeFlight/main.png");
  background-position: center;
  background-size: cover;
}
.rgb {
  border-radius: 100px;
}
.rgb::after {
  content: "";
  background: linear-gradient(
    45deg,
    #0d3d63,
    #0d3d63,
    #f7f7f7,
    #c1fff4,
    #addbff,
    #9dd2fe,
    #0d3d63,
    #0d3d63,
    #c1fff4,
    #c1fff4,
    #0d3d63,
    #0d3d63
  );
  position: absolute;
  inset: -6px -6px -4px -6px;
  border-radius: 6px;
  filter: blur(10px);
  background-size: 100% 600%;
  z-index: -1;
  animation: rgb 18s linear infinite, fadeIn 0.7s ease-in-out forwards;
}

@keyframes rgb {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 00%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
/*  */

.swiper-container {
  margin-top: 5vh;
  padding: 0px 3vw 7vh 3vw;
}

.swiper-slide {
  width: 60%;
  /* color: #cf5f15; */
}

#footer {
  overflow: hidden;
  background-color: #0a0a0a;
  /* height: 42vh; */
  position: relative;
}
.social-icons a {
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s;
}
.social-icons a:hover {
  color: #ccc;
}
/* .contact-info p {
  position: relative;
} */
.contact-info .btn {
  background-color: #fff;
  color: #333;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.contact-info .btn:hover {
  background-color: #ccc;
  color: #fff;
}

.footer-title {
    font-weight: normal;
    /* text-align: end; */
}

.footer-btn {
    font-size: 2rem;
    min-width: 4rem;
    height: 4rem;
}

.footer-email {
  /* font-size: 2rem; */
  min-width: 4rem;
  height: 4rem;
}

.arrow {
  position: absolute;
  bottom: -10%; /* Vertically center */
  left: 40%; /* Position to the right of the button */
  /* transform: translateY( 50%);  */
  font-size: 5rem; /* Adjus t font size */
  color: #fff; /* Arrow color */
  /* animation: bounce-horizontal 1s infinite; */
}

